statemachine/bedrock-model-customization.asl.json
{
  "Comment": "Customize a base model",
  "StartAt": "CreateCustomModel",
  "States": {
    "CreateCustomModel": {
      "Type": "Task",
      "Resource": "arn:aws:states:::bedrock:createModelCustomizationJob",
      "Parameters": {
        "BaseModelIdentifier.$": "$.BaseModelIdentifier",
        "CustomModelName.$": "$.CustomModelName",
        "JobName.$": "$.JobName",
        "CustomizationType": "FINE_TUNING",
        "HyperParameters.$": "$.HyperParameters",
        "OutputDataConfig": {
          "S3Uri": "${CustomizationOutputBucket}"
        },
        "RoleArn": "${BedrockModelCustomizationServiceRoleArn}",
        "TrainingDataConfig": {
          "S3Uri.$": "States.Format('${TrainingDataBucket}/{}', $.TrainingDataFileName)"
        }
      },
      "Next": "Wait for next iteration"
    },
    "Wait for next iteration": {
      "Type": "Wait",
      "Next": "GetModelCustomizationJob",
      "Seconds": 300
    },
    "GetModelCustomizationJob": {
      "Type": "Task",
      "Next": "Job Complete?",
      "Parameters": {
        "JobIdentifier.$": "$.JobArn"
      },
      "Resource": "arn:aws:states:::aws-sdk:bedrock:getModelCustomizationJob"
    },
    "Job Complete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Status",
          "StringEquals": "Failed",
          "Next": "Fail"
        },
        {
          "Variable": "$.Status",
          "StringEquals": "Completed",
          "Next": "CreateProvisionedModelThroughput"
        }
      ],
      "Default": "Wait for next iteration"
    },
    "CreateProvisionedModelThroughput": {
      "Type": "Task",
      "Parameters": {
        "ModelId.$": "$.OutputModelArn",
        "ModelUnits": 1,
        "ProvisionedModelName.$": "$.OutputModelName"
      },
      "Resource": "arn:aws:states:::aws-sdk:bedrock:createProvisionedModelThroughput",
      "Next": "Wait for PT to be ready"
    },
    "Wait for PT to be ready": {
      "Type": "Wait",
      "Seconds": 1000,
      "Next": "Evaluate Custom Model"
    },
    "Evaluate Custom Model": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "${StateMachineEvaluateCustomBedrockModelArn}",
        "Input": {
          "ProvisionedModelArn.$": "$.ProvisionedModelArn",
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id",
          "BaseModelIdentifier.$": "States.ArrayGetItem(States.StringSplit($$.Execution.Input.BaseModelIdentifier, ':'), 0)"
        }
      },
      "ResultPath": "$",
      "Next": "Is custom model better?"
    },
    "Is custom model better?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Output.deleteProvisionedThroughput",
          "BooleanEquals": true,
          "Next": "DeleteProvisionedModelThroughput"
        }
      ],
      "Default": "Success"
    },
    "DeleteProvisionedModelThroughput": {
      "Type": "Task",
      "End": true,
      "Parameters": {
        "ProvisionedModelId.$": "$.Input.ProvisionedModelArn"
      },
      "Resource": "arn:aws:states:::aws-sdk:bedrock:deleteProvisionedModelThroughput"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Fail": {
      "Type": "Fail",
      "CausePath": "$.FailureMessage",
      "ErrorPath": "$.Status"
    }
  }
}